/* Your CSS Code here. */
.item{
	displa:flex;
	justify-content: center;
	align-items: center;
	border:1px solid black;
	width:100vw;
	height: 100vh;
}
.item-1{
	width:100vw;
	height: 100vh;
	background-color: red;
	font-size:16px;
}